<p>login works!</p>

<div class="container">
    <div class="form-container">
        <div class="title">
            Login
        </div>
        <form>
            <mat-form-field appearance="outline">
                <mat-label>Enter Your email</mat-label>
                <input matInput/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Enter Your password</mat-label>
                <input type="password" matInput/>
            </mat-form-field>
        </form>
        <div class="buttons-container">
            <button mat-raised-button>Login</button>
            <p>Or</p>
            <button mat-raised-button>Create an account</button>

        </div>
    </div>
</div>
